<?xml version="1.0"?>
<config>
  <modules>
    <Eugene_AdSearch>
      <version>0.1.0</version>
    </Eugene_AdSearch>
  </modules>
  <frontend>
    <routers>
      <adsearch>
        <use>standard</use>
          <args>
            <module>Eugene_AdSearch</module>
            <frontName>adsearch</frontName>
          </args>
      </adsearch>
    </routers>
		<layout>
		  <updates>
			<adsearch>
			  <file>adsearch.xml</file>
			</adsearch>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <adsearch>
        <class>Eugene_AdSearch_Helper</class>
      </adsearch>
    </helpers>
	<blocks>
	  <adsearch>
		<class>Eugene_AdSearch_Block</class>
	  </adsearch>
	</blocks>
  </global>
</config> 